name: CI

on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
        ports:
          - 2375:2375
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Install dependencies
        run: |
          go mod tidy
          go mod vendor
          sudo apt-get update && sudo apt-get install -y mtr-tiny
      - name: Test
        run: go test -v ./...  -coverprofile=coverage.txt -covermode=atomic
        env:
          SKIP_ICMP: "true"
          # SKIP_ECHO_SERVER: "true"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: golangci/golangci-lint-action@v9
        with:
          version: "v2.7.2"
          args: --timeout=10m
          skip-cache: true
