name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true

permissions:
  contents: write
  # packages: write
  # issues: write
env:
  IMAGE: tcping2
  TAG: ${{ github.event.inputs.tag }}
  GO_IMAGE: golang:1.25-bookworm
  RUNTIME_IMAGE: debian:bookworm

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - run: git tag ${{ github.event.inputs.tag }}
      - run: git push origin ${{ github.event.inputs.tag }}
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
  build-image-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            GO_IMAGE=${{ env.GO_IMAGE }}
            RUNTIME_IMAGE=${{ env.RUNTIME_IMAGE }}
          file: docker/image/Dockerfile
          push: true
          tags: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}:${{ env.TAG }}
      - name: Push latest
        run: |
          docker pull docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}:${{ env.TAG }}
          docker tag docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}:${{ env.TAG }} docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}:latest
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE }}:latest
